@charset "UTF-8";

:root {
    --largura-coluna: 160px;
    --cor-index: rgb(161, 161, 161);
    --cor-esportes: rgb(144, 238, 144);
    --cor-politica: rgb(255, 156, 113);
    --cor-entretenimento: rgb(173, 216, 230);
    --cor-curiosidades: rgb(204, 116, 132);
    --footer-index: black;
    --footer-esportes: #32CD32;
    --footer-politica: #F17105;
    --footer-entretenimento: rgb(29, 29, 255);
    --footer-curiosidades: #CC2936;
}

* {
    margin: 0px;
    padding: 0px;
}


html#esportes {
    background-image: url(esportes/architecture-1853520_1920.jpg);
}

html#politica {
    background-image: url(politica/international-5319462_1920.jpg);
}

html#entretenimento {
    background-image: url(entretenimento/popcorn-1433326_1920.jpg);
}

html#curiosidades {
    background-image: url(curiosidades/nature-4851004_1920.jpg);
}

body {
    background-color: var(--cor-index);
    font-family: Arial, Helvetica, sans-serif;
}

html#esportes > body {
    background-color: var(--cor-esportes);
}

html#politica > body {
    background-color: var(--cor-politica);
}

html#entretenimento > body {
    background-color: var(--cor-entretenimento);
}

html#curiosidades > body {
    background-color: var(--cor-curiosidades);
}

h1 {
    font-family: serif;
    padding: 70px 0px;
    padding-bottom: 70px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.582);
    text-align: center;
}

header {
    background-image: url(imagens_index/newspaper-595478_1920.jpg);
    background-position-x: 60%;
    background-position-y: 43%;
    background-clip: content-box;
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.699);
    list-style: none;
    position: relative;
}

html#esportes header {
    background-image: url(esportes/imagens/architecture-1853520_1920.jpg);
    background-position-x: 60%;
    background-position-y: 70%;
}

html#politica header {
    background-image: url(politica/imagens/international-5319462_1920.jpg);
    background-position-x: 90%;
    background-position-y: 70%;
}

html#entretenimento header {
    background-image: url(entretenimento/imagens/popcorn-1433326_1920.jpg);
    background-position-x: 65%;
    background-position-y: 45%;
}

html#curiosidades header {
    background-image: url(curiosidades/imagens/nature-4851004_1920.jpg);
    background-position-x: 60%;
    background-position-y: 55%;
}

a {
    color: white;
    font-weight: bold;
}

div#menu {
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: center;
    width: 100%;
}

div#menu > div {
    padding: 10px 0px;
    column-width: var(--largura-coluna);
    text-align: center;
}

div#menu > div:hover {
    background-color: rgba(0, 0, 0, 0.397);
}

div#menu > div > a {
    text-decoration: unset;
    color: rgb(255, 255, 255);
}

div#menu > div > div {
    position: absolute;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.473);
    text-align: center;
    margin-top: 10px;
    column-width: var(--largura-coluna);
    display: none;
}

div#menu > div > div > a {
    padding: 10px;
    text-align: center;
    text-decoration: unset; 
    display: block;
}

div#menu > div > div > a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

main {
    background-color: white;
    max-width: 900px;
    margin: 0px auto;
    text-align: justify;
    padding: 10px;
    columns: 3;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.397);
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 5px;
    max-width: 280px;
    margin: 0px auto;
}

h2 {
    padding-bottom: 3px;
}

p {
    padding: 5px 4px 0px 4px;
    color: rgba(0, 0, 0, 0.726);
}

img {
    max-width: 100%;
    margin: 0px auto;
    display: block;
}

footer {
    padding: 5px 0px; 
    background-color: var(--footer-index);
    background-position-x: 60%;
    background-position-y: 55%;
    position: relative;
}

footer > p {
    color: white;
    font-size: 10pt;
    text-align: center;
    padding: 5px 0px;
}

html#esportes > body > footer {
    background-color: var(--footer-esportes);
}

html#politica > body > footer {
    background-color: var(--footer-politica);
}

html#entretenimento > body > footer {
    background-color: var(--footer-entretenimento);
}

html#curiosidades > body > footer {
    background-color: var(--footer-curiosidades);
}

@media screen and (min-width:0px) and (max-width:600px) {
    section {
        max-width: 98%;
    }
    div#menu {
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }
    div#menu > div {
        width: 100%;
        column-width: auto;
    }
    div#menu > div > div {
        columns: 1;
        position: relative;
        box-shadow: none;
    }
    div#menu > div > div > a:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

@media screen and (min-width:601px) and (max-width:800px) {
    section {
        max-width: 48%;
    }
    div#menu {
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }
    div#menu > div {
        width: 100%;
        column-width: auto;
    }
    div#menu > div > div {
        columns: 1;
        position: relative;
        box-shadow: none;
    }
    div#menu > div > div > a:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

@media screen and (min-width:801px) and (max-width:889px) {
    section {
        max-width: 48%;
    }
}